
@keyframes appear {

    from{
    scale: 0.2;
    opacity: 0;   
    }
    to{
    scale: 1;
    opacity: 1;
    }
}

.appear{
    
    animation: appear 5s ease-in;
    animation-timeline: view();
    animation-range: entry 0% ;

}